diffrax==0.6.0
equinox==0.11.8
functions==0.7.0
jax==0.4.30
jaxlib==0.4.30
matplotlib==3.9.2
numpy==2.1.2
optax==0.2.3
pandas==1.1.4
scikit_learn==1.5.2
scipy==1.14.1
sympy==1.13.3
tellurium==2.2.10
torch==2.5.1
xgboost==2.1.2
